/* #3f628b
#9f7892
#d8bebb
#e0e0c4
#FFFF
#f7f9f6
 */

* {
  transition: all 0.5s ease-in-out;
}
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden !important;
  width: 100% !important;
}

header {
  background-color: #f7f9f6;
}

h3 {
  margin-bottom: 0px !important;
}
.logo {
  height: 150px;
}

.icono {
  height: 30px;
  width: 30px;
}

.carousel-inner {
  height: 25% !important;
  max-height: 650px !important;
}

.card {
  border: none;
}

.img-cat {
  overflow: hidden;
}

.card-cat {
  border-radius: 10px 10px;
}

.card-cat:hover {
  box-shadow: 0px 0px 10px black;
}

.aqui {
  color: blue;
}
.rec {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  transition: background-color 0.5s ease-in-out;
}
.rec:hover {
  background-color: #e0e0c4;
}

button a {
  color: white;
}
.sesion {
  color: blue !important;
}
button {
  background-color: #3f628b !important;
  border: 2px solid #3f628b !important;
  color: white !important;
  font: inherit !important;
  line-height: normal !important;
  cursor: pointer !important;
  padding: 8px !important;
  margin: 0 !important;
  overflow: visible !important;
  outline: none !important;
  border-radius: 10px;
}

button:hover {
  box-shadow: 5px 5px 5px #e0e0c4 !important;
}

.z-3 {
  background-color: none !important;
}

.card-cat {
  background-color: #3f628b;
  margin: 10px;
}

.nav-link {
  font-size: large;
}
.nav-link:hover {
  color: #3f628b !important;
}
nav {
  background-color: #e0e0c4;
}

.foot {
  background-color: #e0e0c4;
}

.card {
  border-radius: 0 !important;
}

.card-img-top {
  border-radius: 0 !important;
}

.promos {
  height: 350px;
  overflow: hidden;
}
.z-3 {
  background-color: transparent !important;
  border: none !important;
}

.z-3:hover {
  box-shadow: none !important;
}
a {
  text-decoration: none;
  color: black;
}
@media only screen and (max-width: 767px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }

  .card-cat {
    margin: 0px !important;
  }
}
