---
// Lista de habilidades actualizada que refleja tu perfil full-stack.
const skills = [
  { name: 'Java' }, { name: 'React' }, { name: 'Node.js' }, { name: '.NET Core' },
  { name: 'SQL' },{ name: 'Firebase' }, { name: 'Supabase' }, { name: 'Git & GitHub' }, { name: 'Bootstrap' },
  { name: 'HTML5' }, { name: 'CSS3' }, { name: 'JavaScript' },
  { name: 'Redes' }, { name: 'Linux' }, { name: 'Inglés' },
];
---

<section id="sobre-mi">
  <div class="section-container">
    <div class="text-content fade-in-up">
      <h2>Sobre Mí</h2>
      <p>
        Soy estudiante avanzado de la carrera Técnico Universitario en Programación Web en la Universidad Nacional de San Juan.
      </p>
     <p>
        Me considero una persona detallista a la hora de buscar soluciones y con ganas de seguir aprendiendo.
      </p>
      <p>
        Mi experiencia como ayudante en la cátedra "Estructura y Funcionamiento de la Computadora" y mi participación en el Laboratorio de Informática en el área de Software me permiten aplicar mis habilidades en un entorno práctico y colaborativo.
      </p>
      <p>
        Actualmente, busco empleo como desarrollador junior o cualquier otro puesto relacionado al mundo de la informática donde pueda aportar mi perspectiva integral, mi entusiasmo por aprender y mis ganas de enfrentar nuevos desafíos técnicos.
      </p>
    </div>

    <div class="skills-content fade-in-up" style="--delay: 0.2s;">
      <h3>Habilidades Técnicas</h3>
      <ul class="skills-grid">
        {skills.map(skill => (
          <li class="skill-item">{skill.name}</li>
        ))}
      </ul>
    </div>
  </div>
</section>

