---
// Por ahora no necesitamos JavaScript aquí, pero el frontmatter debe existir.
---
<header>
  <nav>
    <a href="/" class="logo">
      Tomas Gallastegui
    </a>
    <ul>
      <li><a href="#proyectos">Proyectos</a></li>
      <li><a href="#sobre-mi">Sobre mí</a></li>
      <li><a href="#contacto">Contacto</a></li>
    </ul>
  </nav>
</header>

