---
const name = "Tomas Gallastegui";
const title = "Desarrollador Web";
const bio = "Apasionado por la tecnología y la programación, con un interés especial tanto en el front-end como en el back-end, bases de datos, redes.";
---

<section id="hero">
  <div class="content">
    <h1 class="fade-in-up" style="--delay: 0.2s;">
      ¡Hola! Soy <span class="highlight">{name}</span>
    </h1>
    <h2 class="fade-in-up" style="--delay: 0.4s;">{title}</h2>
    <p class="fade-in-up" style="--delay: 0.6s;">{bio}</p>
    
    <a href="#contacto" class="cta-button fade-in-up" style="--delay: 0.8s;">Contáctame</a>
    </div>
</section>

